{% extends 'base.html' %} <title>{% block title %}Home{% endblock %}</title>

{%block content %}

<div class="note-create-container">
  <form method="POST">
    <br />
    <h3>To-Do</h3>
    <br />
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        name="note"
        id="note"
        placeholder=""
        required />
    </div>

    <div class="form-group">
      <input
        class="custom-select"
        type="date"
        id="due-date"
        name="due-date"
        value=""
        required />
    </div>
    <input
      type="submit"
      name="action"
      value="Submit"
      class="btn btn-primary btn-sm btn-block" />
  </form>
</div>

<br />

<div class="working-note-display-container">
  <h3>Working</h3>
  <ul class="list-group">
    {% for note in user.notes %} {% if note.completed == False %}
    <li class="list-group-item">
      <input
        type="checkbox"
        class="close"
        onClick="completeNote({{ note.id }})" />
      <p class="note" contenteditable="true">{{note.note}}</p>
      <button type="button" class="close" onClick="deleteNote({{ note.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
      <p class="inline-data">
        <img
          src="{{ url_for('static', filename='images/calendar.png') }}"
          alt="" />
        {{note.due_date}}
      </p>
      <p class="inline-data">
        {% if note.status == 'Completed' %}
        <img
          src="{{ url_for('static', filename='images/completed-check.png') }}"
          alt="" />
        {% elif note.status == 'Working' %}
        <img
          src="{{ url_for('static', filename='images/image.png') }}"
          alt="" />
        {% elif note.status == 'None' %}
        <img
          src="{{ url_for('static', filename='images/calendar.png') }}"
          alt="" />
        {% endif %} {{note.status}}
      </p>
    </li>
    {% endif %} {% endfor %}
  </ul>
</div>

<br />

<div class="completed-note-display-container">
  <h3>Completed</h3>
  <ul class="list-group">
    {% for note in user.notes %} {% if note.completed == True %}
    <li class="list-group-item">
      <input
        type="checkbox"
        class="close"
        onClick="completeNote({{ note.id }})" />
      <p class="note" contenteditable="true">{{note.note}}</p>
      <button type="button" class="close" onClick="deleteNote({{ note.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
      <p class="inline-data">
        <img
          src="{{ url_for('static', filename='images/calendar.png') }}"
          alt="" />
        {{note.due_date}}
      </p>
      <p class="inline-data">
        {% if note.status == 'Completed' %}
        <img
          src="{{ url_for('static', filename='images/completed-check.png') }}"
          alt="" />
        {% elif note.status == 'Working' %}
        <img
          src="{{ url_for('static', filename='images/image.png') }}"
          alt="" />
        {% elif note.status == 'None' %}
        <img
          src="{{ url_for('static', filename='images/calendar.png') }}"
          alt="" />
        {% endif %} {{note.status}}
      </p>
    </li>
    {% endif %} {% endfor %}
  </ul>
</div>

{% endblock %}
