{% extends 'base.html' %} <title>{% block title %}Home{% endblock %}</title>

{%block content %}

<div class="note-create-container">
  <form method="POST">
    <br />
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        name="note"
        id="note"
        placeholder="To-Do"
        required />
    </div>
    <div class="form-group">
      <input
        class="custom-select"
        type="text"
        id="due-date"
        name="due-date"
        value=""
        placeholder="Due Date"
        onfocus="(this.type='date')"
        required />
    </div>
    <input
      type="submit"
      name="action"
      value="Submit"
      class="btn btn-primary btn-sm btn-block" />
  </form>
</div>

<br />

<div class="working-note-display-container">
  <h4>To-Do List</h4>
  <ul class="list-group">
    {% for note in user.notes %} {% if note.completed == False %}
    <li class="list-group-item" draggable="true">
      <span aria-hidden="true">
        <input type="checkbox" onClick="completeNote({{ note.id }})" />
      </span>
      <span>
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </span>
      <p class="note">{{note.note}}</p>
      {% if note.due_date > current_date %}
      <p class="date-good">{{note.due_date}}</p>
      {% else %}
      <p class="date-overdue">Overdue: {{note.due_date}}</p>
      {% endif %}
    </li>
    {% endif %} {% endfor %}
  </ul>
</div>

<br />

<div class="completed-note-display-container">
  <form action="submit">
    <ul class="list-group">
      {% for note in user.notes %} {% if note.completed == True %}
      <li class="list-group-item" draggable="true">
        <span aria-hidden="true">
          <input
            type="checkbox"
            onClick="completeNote({{ note.id }})"
            checked />
        </span>
        <span>
          <button
            type="button"
            class="close"
            onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
          </button>
        </span>
        <p class="note">{{note.note}}</p>
        {% if note.due_date > current_date %}
        <p class="date-good">{{note.due_date}}</p>
        {% else %}
        <p class="date-overdue">{{note.due_date}}</p>
        {% endif %}
      </li>
      {% endif %} {% endfor %}
    </ul>
  </form>
</div>

<br />
<br />

{% endblock %}
